# Lists

In [5]:
l = [1, 2, 3, 4]
l

[1, 2, 3, 4]

In [6]:
ls = ['a', 'b', 'c']
ls

['a', 'b', 'c']

In [11]:
ls.append('e')
#ls.pop()
ls

['a', 'b', 'c', 'e']

In [13]:
ls[0]
ls[-1]

'e'

In [14]:
ldoble = [1, 2, 3, ['a', 'b', 'c']]
ldoble

[1, 2, 3, ['a', 'b', 'c']]

In [17]:
ldoble[3]

['a', 'b', 'c']

In [18]:
ldoble[3][0]

'a'

# Dictionary

In [24]:
dictionary = {'key' : 'value', 'key2': 'value2'} 
dictionary['key2']

'value2'

In [23]:
dic = {'name':'Jonathan', 'age':'20'}
dic['name']

'Jonathan'

# Tuples

In [25]:
tuple1 = (1, 2, 3, 4)
tuple1

(1, 2, 3, 4)

In [26]:
tuple1[0]

1

# Sets

In [27]:
set1 = {1, 2, 3, 4}
set1

{1, 2, 3, 4}

In [28]:
set2 = {1, 2, 3, 4, 1, 2, 3, 4}
set2

{1, 2, 3, 4}

# Mixing

In [29]:
list1 = [1, 2, 3, 4, 5, 6, 7, 7, 8, 8, 9]
set3 = set(list1)
set3

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# Loop FOR

In [32]:
for element in l:
    value = element*5
    print(value)

5
10
15
20

# Loop While

In [33]:
number = 1
while number < 5:
    print(number)
    number += 1

1
2
3
4

Function Range

In [34]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [36]:
for n in range(0,4):
    print(n)

0
1
2
3

create list from another

In [39]:
list7 = [1, 2, 3, 4, 5]
list8 = []

for n in list7:
    list8.append(n)
list8

[1, 2, 3, 4, 5]

In [46]:
list5 = [1, 2, 3, 4, 5]
list7 = (x * 2 for x in list5)

In [48]:
list7

# Functions

In [3]:
def sayhello():
    print('Hola')
sayhello()

Hola

In [5]:
def sayMorning(name):
    print('Hola, buenos días ' + name)
sayMorning('Jonathan')

Hola, buenos días Jonathan

In [8]:
def add(number1, number2):
    result = number1 + number2
    return result

add(1,1)

2

In [9]:
add(3, 5)

8

# Function Map()

In [12]:
def multiply(number):
    return number * 3
multiply(2)

6

In [13]:
list0 = [1, 2, 3, 4, 5]
list9 = list(map(multiply, list0))
list9

[3, 6, 9, 12, 15]

# Functions Lambda

In [18]:
def multiplyn(n):
    return n * 3
multiplyn(5)

15

In [23]:
list11 = [1, 2, 3, 4]
list12 = list(map(multiplyn, list11))
list12

[3, 6, 9, 12]

In [22]:
list11 = [1, 2, 3, 4]
list14 = list(map(lambda number: number * 3 ,list11))
list14

[3, 6, 9, 12]

# Filter

In [26]:
def even(number):
    if(number % 2 == 0):
        return number
even(2)

2

In [27]:
listOddEven = [1, 2, 3, 4, 5, 6, 7, 8]
list_even = list(filter(even, listOddEven))
list_even

[2, 4, 6, 8]

In [30]:
list_even1 = list(filter(lambda eveN : eveN % 2 == 0, listOddEven))
list_even1

[2, 4, 6, 8]

# Strings

In [36]:
greeting = "Hi, good morning, my name's Jonathan"
greeting

"Hi, good morning, my name's Jonathan"

In [38]:
CapGreeting = greeting.upper()
CapGreeting

"HI, GOOD MORNING, MY NAME'S JONATHAN"

In [39]:
greeting.lower()

"hi, good morning, my name's jonathan"

In [40]:
greeting.split()

['Hi,', 'good', 'morning,', 'my', "name's", 'Jonathan']

In [ ]:
greeting.split(',')